<ion-view view-title="Foodies">
  <ion-content>
    <div class="list card">

      <ul swing-stack>
        <!-- <profile-card></profile-card> -->
        <li swing-card
          swing-on-throwout="remove()"
          swing-on-throwoutleft="console.log(eventName, eventObject)"
          swing-on-throwoutright="console.log(eventName, eventObject)"
          swing-on-throwin="console.log(eventName, eventObject)"
          swing-on-dragstart="console.log(eventName, eventObject)"
          swing-on-dragmove="console.log(eventName, eventObject)"
          swing-on-dragend="console.log(eventName, eventObject)"
          ng-repeat="foodie in foodiesWithSameLunchZipList">

            <div class="item item-avatar">
              <img ng-src={{foodie.pictureUrl}}>
              <h2>{{foodie.firstName}} {{foodie.lastName}}</h2>
              <p>{{foodie.headline}}</p>
            </div>

            <div class="item item-body">
              <p ng-if="foodie.lunchZip">
                {{foodie.bio}}
              </p>
              <p ng-if="!foodie.lunchZip">
                "Keep checking back!"
              </p>
              <button class="button button-assertive" ng-click="remove()">No</button>
              <button class="button button-balanced" ng-href="#/app/calendars">Yes</button>
            </div>

        </li>
      </ul>

    </div>
  </ion-content>
</ion-view>

